In [14]:
n =int(input("enter any number"))

enter any number 8

In [17]:
n=int(input("enter any number"))
if n>0:
    if n%2==0:
        print(n,"even")
    else:
        print(n,"odd")
elif n<0:
        print(n,"negative")
else :
    print(n,"zero")

enter any number 8

8 even

In [21]:
n1=int(input("enter number  : "))
n2=int(input("enter number  : "))
n3=int(input("enter number  : "))
if n1>n2 and n1>n3:
   largest_no=num1
elif n2>n1 and n2>n3:
   largest_no= num2
else :
   print("n3")

enter number  :  20
enter number  :  36
enter number  :  14

NameError: name 'num2' is not defined

In [24]:
# write a python program to check whether a triangle is equaltoral , scalin , isolation [first check triangle is valid or invalid ]
a= int(input("enter side 1 :"))
b= int(input("enter side 2 :"))
c=int(input("enter side 1 :"))
if(a+b>c) and (a+c>a) and (b+c>a):
    if a==b==c:
        print("equilateral triangle")
    elif a==b or b==c or a==c:
        print("isoseles triangle")
    else:
        print("scalene triangle")
else:
    print("invalid")

enter side 1 : 5
enter side 2 : 5
enter side 1 : 5

equilateral triangle

In [31]:
#wapp to check a given year ki leap year or not
year = int(input("enter any year :"))
if year%4==0:
       if year%100==0:
              if year%400==0:
                 print(year," : century leap year")
              else:
                  print(year," : century not a leap year")
       else:
           print(year," : leap year")
else:
     print(year,"not a leap year")

enter any year : 2000

2000  : century leap year

In [2]:
#wapp to print sum of first n nature number 
n=int(input("Enter any number "))
sum_natural = 0
for i in range(1,n+1):
      sum_natural = sum_natural + i
print(sum_natural)

enter any number  10

55

In [3]:
#wapp to print sum of first n even and odd number 
# Program to print sum of first n even and odd numbers

n = int(input("Enter the value of n: "))

sum_even =0
sum_odd = 0
for i in range(1,n+1):
    sum_even= 2*i

for i in range(1,n+1):
    sum_odd = 2*i-1

print("

Enter the value of n:  12

Sum of first 12 even numbers is: 156
Sum of first 12 odd numbers is: 144

In [1]:
#wapp to print sum of first n nature number 
n=int(input("Enter any number "))
sum_natural = 0
for i in range(1,n+1):
      sum_natural = sum_natural + i
print(sum_natural)

Enter any number  5

15

In [10]:
#wapp to print sum of first n even and odd number 

n = int(input("Enter the value of n : "))

sum_even =0
sum_odd = 0
for i in range(1,(2*n)+1):
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i

print("even number :" ,sum_even)
print("odd number : ",sum_odd)

Enter the value of n:  20

even number : 420
odd number :  400

In [12]:
#wap to print factorial of number 
n=int(input("enter any number :"))
fact =1
for i in range(1,n+1):
    fact = fact*i
print(fact)

enter any number : 5

120

In [ ]:
#wap to print count of even and odd number betweeen 1000 and 2000

In [ ]:
#wap to print sum of first n whole number